<div class="center">
<div class="row">
<% @products.each do |product| %>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="card">
    <div class="card-header">
    Product
    </div>
        <p>
        <div class="card-body">
        <% if product.image.url %>
        <img src= <%= product.image.url %> width="100%">
        <% else %>
        <img src="https://res.cloudinary.com/ddqegwuzs/image/upload/v1621830575/Noimage_zgaeta.png" alt="" width="100%">
        <% end %>
        </p>
            <h3><%= product.name %></h3>
            <p><%= product.description %></p>
            <p><%= number_to_currency (product.price) %></p>
            <p><%= "By #{product.user.name}" %></p>
            <% if (user_signed_in?) && (current_user == product.user) %>
                <%= link_to 'Show', product, class: "btn btn-primary" %>
                <%= link_to 'Edit', edit_product_path(product), class: "btn btn-warning" %>
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <% end %>
        </div>
    </div>
    </div>
<% end %>
</div>
</div>
<br>