<div class="container-fluid">
<div class="row">
  <div class="col-md-6">
    <div class="card-body">
          <% if @product.image.attached? %>
          <%= image_tag @product.image, crop: :scale, width: "100%" %>
          <% else %>
          <img src="https://res.cloudinary.com/ddqegwuzs/image/upload/v1622048177/noimage_pzxizf.gif" alt="" width="100%">
          <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card-body">
    <h3><%= @product.name %></h3>
    <p><%= "By #{@product.user.name}" %></p>
    <p><%= number_to_currency (@product.price) %></p>
    <p><%= @product.description %></p>
    <br>
    <% if current_user == @product.user %>
    <% else %>
    <div class="left">
      <%= link_to "Buy This Product", new_product_order_path(@product), class: "btn btn-primary" %>
    <% end %>
    </div>
    </div>
  </div>
</div>
<br>
<div class="d-grid gap-2">
<% if current_user == @product.user %>
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-secondary" %>
<% end %>
  <%= link_to 'Back', products_path, class: "btn btn-outline-warning" %>
</div>