<div class="container-fluid">
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <% if @product.image.attached? %>
      <%= image_tag @product.image, crop: :scale, width: "80%" %>
      <% else %>
      <img src="https://res.cloudinary.com/ddqegwuzs/image/upload/v1622048177/noimage_pzxizf.gif" alt="" width="80%">
      <% end %>
    </div>
    <p><h3><%= @product.name %></h3></p>
    <h5><%= number_to_currency(@product.price) %></h5>
  </div>
  <div class="col-md-8">
<%= form_for([@product, @order]) do |f| %>
  <% if order.errors.any? %>
      <div class="alert alert-danger alert-dismissable">
      <div id="error_explanation">
      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <% end %>

<h5>Address Information</h5>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control" %>
  </div>
<br>
  <h5>Payment Information</h5>
  <div class="form-group">
    <div class="row">
    <label for="validationDefault03" class="form-label">Card Holder's Name</label>
      <div class="col-md-10">  
        <input type="text" class="form-control" pattern="\w+ \w+.*" required required>
      </div>
      </div>
      <label for="validationDefault03" class="form-label">Credit Card Number</label>
        <div class="input-group md-3">
          <div class="input-group-number">
            <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" required>
          &nbsp
            <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" required>
          &nbsp
            <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" required>
          &nbsp
            <input type="text" class="input-block-level" autocomplete="off" maxlength="4" pattern="\d{4}" required>
        </div>
      </div>
      <label for="validationDefault03" class="form-label">CVV</label>
        <div class="input-group md-3">
          <div class="input-group-number">
            <input type="text" class="input-block-level" autocomplete="off" maxlength="3" pattern="\d{3}" required>
        </div>
      </div>
  </div>


  <div class="form-group">
    <%= label_tag nil, "Expiration Date" %>
    <div class="row">
      <div class="col-md-3">
        <p><%= select_month nil, { use_two_digit_numbers: true }, { :name => nil, :'nil' => "exp-month", class: "form-control" } %></p>
      </div>
      <div class="col-md-3">
        <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+20 }, { :name => nil, :'nil' => "exp-year", class: "form-control" } %>
      </div>
    </div>

  <br>
  <div class="form-group">
    <p><%= f.submit "Order", class: "btn btn-primary" %></p>
  </div>
<% end %>
</div>
</div>
