<%# header & nav bar %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <ul class="navbar-nav mr-auto">
    <a class="navbar-brand-auto">
    <%= link_to root_path do %>
    <img src="https://res.cloudinary.com/ddqegwuzs/image/upload/v1621580383/Vspace_gfo16b.png" alt="" width="40" height="40">
    <% end %>
    </a>
        <li class="navbar-brand mb-0 h1">
        <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="navbar-brand mb-0 h1">
        <%= link_to "Product", products_path, class: "nav-link" %>
        </li>
    </ul>

        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="nav-item dropdown mb-0 h5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><%= link_to "Manage Product", seller_path, class: "nav-link" %></li>
            <li><%= link_to "Sales History", sales_path, class: "nav-link" %></li>
            <li><%= link_to "Purchase History", purchases_path, class: "nav-link" %></li>
        </ul>
        </li>

        <li class="nav-item dropdown mb-0 h5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, class: "nav-link", method: :delete %></li>
        </ul>
        </li>
        <% else %>
            <li class="mb-0 h5"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
            <li class="mb-0 h5"><%= link_to "Sign In", new_user_session_path, class: "nav-link" %></li>
    <% end %>
    </ul>
    </div>
</nav>

